figure.element {
  margin-top: 0 !important;
}

body {
  font-family: "TS3 Text Sans";
}
.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-container {
  display: flex;
  position: relative;

  &.f-row {
    flex-direction: row;
  }

  &.f-end {
    justify-items: end;
  }
}

#Glabs {
  // visibility: hidden;

}

.ClientDetails {
  display: flex;
  color: white;
  align-items: center;
  max-width: 40rem;
}
.main-title {
  margin-top: -5rem;
  position: relative;
  h1 {
    max-width: 40rem;
    margin: auto;
    span {
      line-height: 1;
      --shadow-color: black;
      box-shadow: -20px 0px 0 6px var(--shadow-color), 20px 0px 0 6px var(--shadow-color), 0 0 0 2px var(--shadow-color);
    }
  }
}

main header {
  overflow: hidden;
  .flex-container {
    height: 80vh;
    justify-content: center;    
    align-items: flex-end;
  }
  video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: screen;
  }
  .bg {
    position: absolute;
    height: 80vh;
    width: 120vw;
    background-attachment: fixed;
    background-size: cover;
  }
  h1 {
    position: relative;
    color: white;

  }
}

section {
  position: relative;
  overflow: hidden;
  &.content {
    padding: 2rem 4rem;
  }

  &.audio {
    height: 50vh;
    .vis {
      height: 100%;
      width: 150vw;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
    }
  }
}
  .cta {
    a {
      color: #69D1CA;
    }
  }

  #ShareMe {
    ul li {
      display: inline;
    }
    li:nth-child(3) a {
      background-color: #767676 !important;
      svg {
        stroke: white;
      }
    }
  }

  #Footer .related {
    width: 100%;
  }
  .ClientDetails {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
  .Title-Container h1 {
    font-family: "Guardian Headline Full";
    font-weight: 100;
  }

  @include mq($until: tablet) {
    #Glabs #Footer .InnerFooter .PartnerZoneLinks {
    flex-basis: 100%;
    }
  }

  
  article {

    // background-color: #34B1D5;
    header {
      position: relative;
      margin: auto;
      border: 1px solid #0003;
      overflow: visible;
      .feature {
        margin: 1rem;
        min-height: 80vmin;
        background: url('<%= path %>/001.jpg') 50% no-repeat;
        background-size: cover;
        @include mq(desktop) {
          background-attachment: fixed;
          min-height: 45vmax;
        }
      }
      .title {
        color: #34B1D5;;
        width: 100%;
        margin-top: -2rem;
        padding: 0 2rem;
        display: flex;
        @include mq(tablet) {
          position: absolute;
          bottom: -1rem;
          padding: 0;
        }
        h1 {
          
          --shadow-color: white;
          color: currentColor;
          max-width: 50rem;
          margin: auto;
          font-size: 38/16 + rem;
          @include mq(tablet) {
            font-size: 48/16 + rem;

          }
          span {
            color: currentColor;
            font-family: "Guardian Headline Regular";
            line-height: 1.1;
          }
        }
      }
    }
    .body {
      margin: auto;
      max-width: 680/16 + rem;
      padding: 4rem 2rem;
      color: white;
    }
    .stand-first {
      color: black;
    }

    .cta {
      max-width: 60rem;
      color: black;
    }

  }

  .break {
    max-width: 90%;
    margin: auto;
    hr {
      margin: 1px;
    }
  }

  .social-share {
    max-width: 90%;
    margin: 2rem auto;
  }